<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title>Portada</title>
	</head>
	<body>
		
		<h3>
			INSTITUTO TECNOL&Oacute;GICO SUPERIOR DE LA SIERRA NORTE DE PUEBLA</h3>
		<h4>
			Carrera: Ingenieria Inform&aacute;tica</h4>
		<h4>
			Alumno: Gabriel Maldonado Mart&iacute;nez</h4>
		<h4>
			Materia: Desarrollo Web Avanzado</h4>
		<h4>
			Facilitador: M.S.C. Adolfo Luna Sanchez</h4>
		<h4>
			8vo Semestre</h4>
		<h4>
			Fecha: 20 de mayo del 2021</h4>
	</body>
</html>